//style own menu
.param-box{
  display: grid;
  margin-bottom: 16px;
  text-align: left;

  .params{
    padding-bottom: 3px;
    padding-top: 10px;
  }
}

//make drag and drop as well as selecting svg easier
#text,
.star{
  pointer-events: bounding-box;
}

#active-menu {
  position: fixed;
  top: 10%;
  right: 0;
  width: auto;
  height: auto;
  padding: 20px;
  background-color: rgba(lightgrey, 0.7);

  p {
    margin-bottom: 0;
    height: 16px;
  }
}

//disable svg text select
//disable unwanted select of wrong element on svg dblclick
#menu a,
#menu p,
.title,
.artist,
.no-select{
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}